.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.imgur-img {
    max-width: 100%;
}
img.imgur-img.active {
    border: 10px solid #7e7e7e;
    border-radius: 4px;
}
.imgur-preview {
    border: 10px solid #7e7e7e;
    border-radius: 4px;
    max-width: 100%;
}
tr.red-bg {
    background: #f1c5c5;
}
tr.green-bg {
    background: #a6d9a6;
}
